In [26]:
import sys
import os
import pandas as pd
import numpy as np

In [27]:
current_dir = os.getcwd()
project_root = current_dir

while not os.path.isdir(os.path.join(project_root, "src")) and project_root != "/":
    project_root = os.path.dirname(project_root)

sys.path.append(project_root)
print("Project root:", project_root)

from src.data.load_data import load_csv
from src.data.db_sqlite import save_dataframe_to_db, get_table_schema

Project root: /Users/guilhermealencar/ml-syphilis-congenita

In [28]:
df = load_csv("../data/raw/data_set.csv")
print("Shape bruto:", df.shape)
display(df.head())

[OK] Dataset carregado com 41762 linhas e 26 colunas.
Shape bruto: (41762, 26)

,VDRL_RESULT,CONS_ALCOHOL,RH_FACTOR,SMOKER,PLAN_PREGNANCY,BLOOD_GROUP,HAS_PREG_RISK,TET_VACCINE,IS_HEAD_FAMILY,MARITAL_STATUS,...,HAS_FAM_INCOME,LEVEL_SCHOOLING,CONN_SEWER_NET,NUM_RES_HOUSEHOLD,HAS_FRU_TREE,HAS_VEG_GARDEN,FAM_INCOME,HOUSING_STATUS,WATER_TREATMENT,AGE
0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0,5.0,0.0,2.0,1.0,1.0,0.0,1.0,2.0,25.0
1,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,5.0,...,0.0,5.0,0.0,2.0,1.0,1.0,2.0,1.0,3.0,25.0
2,1.0,1.0,2.0,1.0,1.0,4.0,1.0,0.0,1.0,5.0,...,1.0,6.0,2.0,4.0,1.0,1.0,3.0,0.0,3.0,24.0
3,1.0,1.0,2.0,1.0,0.0,4.0,0.0,0.0,1.0,5.0,...,0.0,2.0,1.0,3.0,1.0,1.0,0.0,0.0,2.0,28.0
4,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,1.0,4.0,1.0,3.0,1.0,1.0,0.0,0.0,3.0,27.0

In [29]:
df.loc[df["AGE"] < 0, "AGE"] = np.nan

In [30]:
median_age = df["AGE"].median()
df["AGE"] = df["AGE"].fillna(median_age)

print("Min AGE:", df["AGE"].min(), "| Max AGE:", df["AGE"].max())
print("Nulos em AGE:", df["AGE"].isna().sum())

Min AGE: 0.0 | Max AGE: 51.0
Nulos em AGE: 0

In [31]:
save_dataframe_to_db(df)  # tabela syphilis_cases, db data/syphilis.db

print("Dados salvos em SQLite: data/syphilis.db (tabela syphilis_cases)")

Dados salvos em SQLite: data/syphilis.db (tabela syphilis_cases)

In [32]:
schema_df = get_table_schema()
display(schema_df)

    cid               name  type  notnull dflt_value  pk
0     0        VDRL_RESULT  REAL        0       None   0
1     1       CONS_ALCOHOL  REAL        0       None   0
2     2          RH_FACTOR  REAL        0       None   0
3     3             SMOKER  REAL        0       None   0
4     4     PLAN_PREGNANCY  REAL        0       None   0
5     5        BLOOD_GROUP  REAL        0       None   0
6     6      HAS_PREG_RISK  REAL        0       None   0
7     7        TET_VACCINE  REAL        0       None   0
8     8     IS_HEAD_FAMILY  REAL        0       None   0
9     9     MARITAL_STATUS  REAL        0       None   0
10   10    FOOD_INSECURITY  REAL        0       None   0
11   11      NUM_ABORTIONS  REAL        0       None   0
12   12   NUM_LIV_CHILDREN  REAL        0       None   0
13   13    NUM_PREGNANCIES  REAL        0       None   0
14   14       FAM_PLANNING  REAL        0       None   0
15   15         TYPE_HOUSE  REAL        0       None   0
16   16     HAS_FAM_INCOME  REAL        0       None   0
17   17    LEVEL_SCHOOLING  REAL        0       None   0
18   18     CONN_SEWER_NET  REAL        0       None   0
19   19  NUM_RES_HOUSEHOLD  REAL        0       None   0
20   20       HAS_FRU_TREE  REAL        0       None   0
21   21     HAS_VEG_GARDEN  REAL        0       None   0
22   22         FAM_INCOME  REAL        0       None   0
23   23     HOUSING_STATUS  REAL        0       None   0
24   24    WATER_TREATMENT  REAL        0       None   0
25   25                AGE  REAL        0       None   0